In [50]:
import os
from collections import defaultdict

import pandas as pd

In [51]:
RAW_VER = "202202"
CLS_VER = 48

In [52]:
with open('raw' + os.sep + RAW_VER + os.sep + f'Siccodes{CLS_VER}.txt', 'r+', encoding='utf-8') as f:
    t = f.readlines()
t[:5]

[' 1 Agric  Agriculture\n',
 '          0100-0199 Agricultural production - crops\n',
 '          0200-0299 Agricultural production - livestock\n',
 '          0700-0799 Agricultural services\n',
 '          0910-0919 Commercial fishing\n']

In [53]:
range_dct = defaultdict(list)
name_dct = defaultdict(str)
for l in t:
    if len(l) == 1: continue
    if l[:2] != '  ':
        # print(l)
        ind = int(l[:2].strip())
        name_dct[ind] = l[3:10].strip()
    else:
        range_dct[ind].append([int(x) for x in l[10:19].split('-')])
        
# name_dct
# range_dct

In [58]:
def query(sic):
    for ind in range_dct:
        for lo, hi in range_dct[ind]:
            if lo <= sic <= hi:
                return ind
    return CLS_VER  # Default: Other industry.

In [55]:
df = pd.DataFrame({'sic': range(1, 10000)})
df.shape
df.head(3)

(9999, 1)

   sic
0    1
1    2
2    3

In [56]:
df[f'ff_{cls_ver}ind'] = df['sic'].apply(query)
df[f'ff_{cls_ver}ind_desc'] = df[f'ff_{cls_ver}ind'].apply(lambda x: name_dct[x])

In [57]:
df.head(3)

   sic  ff_48ind ff_48ind_desc
0    1        48         Other
1    2        48         Other
2    3        48         Other

In [59]:
df.to_csv(f'ff_{CLS_VER}ind.csv', index=False)